<div class="row">
    <div class="col-lg-2">
        <select class="form-control" name="actionType" [(ngModel)]="actionType">
            <option value="" selected disabled>Select Action</option>
            <option value="1">Received/Not Received</option>
            <option value="2">Send Back To Vendor</option>
        </select>
    </div>
    <div class="col-lg-2">
        <select class="form-control" name="recordTypeId" [(ngModel)]="recordTypeId">
            <option value="" selected disabled>Select Report</option>
            <option value="3">SR</option>
            <option value="4">Account Opening Form</option>
        </select>
    </div>
    <div class="col-lg-3">
        <div class="input-group">
            <button type="button" class="btn waves-effect waves-light blue" (click)="rerender('user')">
                Submit
            </button>
        </div>
    </div>
</div>
<br>
<div id="preview" class="col s12 m9 l12">
    <p>

        <button type="button" class="btn waves-effect waves-light blue" (click)="rerender()">
            <i class="fa fa-refresh" aria-hidden="true"></i> Refresh
        </button>

    </p>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"></table>
</div>