:host >>> div#ng2-opd-popup-main {
    top: -3% !important;
}

.add-new-order-button {
    margin-bottom: 1%;
}

input[type="checkbox"] {
    margin: 11px 0 0 !important;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}