:host >>> div#ng2-opd-popup-main {
    top: -3% !important;
}

.user-permission {
    margin-bottom: 2%;
    margin-top: 2%;
    font-style: italic;
    text-decoration: underline;
}

.permission-options {
    margin-left: 2%;
}

:host >>> div#DataTables_Table_0_length {
    display: none;
}