<button *ngIf="_workflowSelected == 'Upload' &&  this._userServ.canCurrentUser('DISBMT_EXECUTIVE_OPERATIONS') " class="btn btn-primary pull-right disbmt-excel-upload-button" (click)="dismbtOpenExcelUpload()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Import Disbmt File</button>

<div style="clear: both"></div>
<popup #disbmtExcelUpload (confirmClick)="saveExcelDetails()">
<div class="box-container" fxLayout="column">
  <div class ="horizontal-container" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="stretch" fxFlex>   
    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="75%" fxFlex.gt-xs="50%">
      <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
        <div class="upload-area" [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>
      </div>
    </div>
  </div>
   
    <p>Note: Date Formate should be in DD/MM/YYYY (Ex. 31/12/2017)</p>
</div>
</popup>


<div style="clear: both"></div>
<popup #dismbtPhotoDetailViewPopup (confirmClick)="saveWorkflowDetails()">

    <form class="form-horizontal" name="disbmtPhoto" #disbmtPhoto="ngForm">
        <div class="form-group">
            <label for="inputEmai3" class="col-sm-3 control-label">Sr. No.</label> 
            <div class="col-sm-7">
                <input type="text" class="form-control" name="sr_no" [value]="srNo" id="srNo" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmai3" class="col-sm-3 control-label">Date of Disbursement</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="date" [value]="date" id="date" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmai3" class="col-sm-3 control-label">Branch id</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="branchId" [value]="branchId" id="branchId" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmai3" class="col-sm-3 control-label">Branch Name</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="branchName" [value]="branchName" id="branchName" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmai3" class="col-sm-3 control-label">Centre id</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="centerId" [value]="centerId" id="centerId" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmai3" class="col-sm-3 control-label">Centre Name</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="centerName" [value]="centerName" id="centerName" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmai3" class="col-sm-3 control-label">No. of Loans</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="email" [value]="noOfLoans" id="noOfLoans" disabled>
            </div>
        </div>
        <div class="form-group" *ngIf="disbmtPhotoUrl != '' && disbmtReceiptUrl !=''">
            <label class="col-sm-3 control-label">Disbursement Photo/Receipt</label>
            <div class="col-sm-7">
                <a target="_blank" href="{{disbmtPhotoUrl}}">- View Photo</a>
                <a target="_blank" href="{{disbmtReceiptUrl}}">- View Receipt</a>
            </div>
        </div>


        <div class="form-group" *ngIf=" this._userServ.canCurrentUser('DISBMT_AUDIT_OFFICER')  ">
            <label for="uploadPhoto" class="col-sm-3 control-label">Upload Disbursement Photo</label>
            <div class="col-sm-7">
                <dropzone [config]="config2" [message]="'Click or drag images here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
            </div>
            
        </div>
       
                
        <div class="form-group" *ngIf=" this._userServ.canCurrentUser('DISBMT_AUDIT_OFFICER') ">
            <label for="uploadReceipt" class="col-sm-3 control-label">Upload Disbursement Receipt</label>
            <div class="col-sm-7">
                <dropzone [config]="config3" [message]="'Click or drag images here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
            </div>
            
        </div>

        <div class="form-group">
            <label for="Status" class="col-sm-3 control-label">Disbursement Record Status</label>    
            <div class="col-sm-7">
              <strong>{{disbmtPhotoStatusList}}</strong>
            </div>
        </div>


        <div class="form-group" *ngIf=" this._userServ.canCurrentUser('DISBMT_BRANCH_MANAGER') ">
            <label class="col-sm-3 control-label">Workflow Status</label>
            <div class="col-sm-7">
                <div class="radio" *ngFor="let wfs of workFlowStatus">
                     <label>
                        <input type="radio" name="workflow_status" [(ngModel)]="workflow_status" [value]="wfs.value" (change)="onworkFlowStatusChange(wfs)">
                        {{wfs.display}}
                    </label>
                </div>
            </div>            
        </div> 


    </form>

</popup>


<div style="clear: both"></div>
<div class="row" *ngIf="_workflowSelected == 'Upload' && this._userServ.canCurrentUser('DISBMT_EXECUTIVE_OPERATIONS') ">
    <div class="col-lg-3">
        <div class="input-group">
            <span class="input-group-addon">
                From Date
            </span>
            <datetime [timepicker]="false" [datepicker]="datepickerOpts" [(ngModel)]="disb_from_date"></datetime>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="input-group">
            <span class="input-group-addon">
                To Date
            </span>
            <datetime [timepicker]="false" [datepicker]="datepickerOpts"  [(ngModel)]="disb_to_date"></datetime>
        </div>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn waves-effect waves-light blue" (click)="rerender()">
            Search
        </button>
    </div>
</div>

<div id="preview" class="col s12 m9 l12"> 

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"></table>
</div>